@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-nunito: "Nunito", sans-serif;
    --font-lora: "Lora", serif;
}


@font-face {
    font-family: "Lora";
    src: url('../fonts/lora/Lora-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
    font-weight: 400 700;
    font-style: normal;
}


@font-face {
    font-family: "Nunito";
    src: url("../fonts/nunito/Nunito-VariableFont_wght.woff2") format('woff2');
    font-display: swap;
    font-weight: 200 900;
    font-style: normal;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-nunito);
    }

    body {
        font-family: var(--font-lora);
    }
}